<!DOCTYPE html>

<html>
	<meta charset="utf-8" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="msapplication-tap-highlight" content="no" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
	<style>
		
		@media only screen and (orientation:portrait){
		#warning-message { display:block; }
		#convideo1 { display:none; }
		
		}
		@media only screen and (orientation:landscape){
		#warning-message { display:none; }
		#convideo1 { display:display; }
		
		}		
	</style>		
	<head>		
		<link rel="stylesheet" href="assets/css/angular-material.min.css">
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">		
		<link rel="stylesheet" href="assets/css/jquery-ui.css" />
		<script src="assets/js/angular.min.js"></script>
		<script src="assets/js/angular-animate.min.js"></script>
		<script src="assets/js/angular-aria.min.js"></script>
		<script src="assets/js/angular-messages.min.js"></script>
		<script src="assets/js/angular-material.min.js"></script>
		<script src="assets/js/ngStorage.min.js"></script>		
		<script src="assets/js/pouchdb.js"></script>
		<script src="assets/js/angular-pouchdb.js"></script>		
		<script src="js/material/angular-material.js"></script>
		<script src="js/material/angular-route.min.js"></script>
		<script src="assets/js/jquery-1.11.1.min.js"></script>		
		<script src="assets/js/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<!-- Styles! -->
		<link rel="stylesheet" type="text/css" href="assets/css/default.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/default1.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/clock.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/circular.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/circularprogress.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />		
		<!-- Dependencies! -->		
		<script type="text/javascript" src="js/vendor/jquery.min.js"></script>		
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/jquery.min.js"></script>		
		<!-- ngVideo! -->
		<script type="text/javascript" src="js/ng-video.js"></script>
		<!-- Angular app! -->
		<script type="text/javascript" src="js/Default.js"></script>
		<script type="text/javascript" src="js/Seekable.js"></script>		
		<script type="text/javascript" src="js/controllers/VideoController.js"></script>
		<script src="js/controllers/app.js"></script>
	    <script src="js/controllers/MyApp.js"></script> 
		<script type="text/javascript" src="js/controllers/Videoreport.js"></script>
		<link rel="stylesheet" type="text/css" href="assets/css/index.css" />		
		<div id='test'></div>		
	
	</head>
	
	<body ng-app="videoApp" ng-controller="VideoController">
		<div id="warning-message">Please use Landscape Mode for better Result!!</div>
		<section id="convideo1" class="ng-video-container">
			
			<div  class="video">
				<div id="container">
					<div class="rev_slider">
						<!-- Base Directive -->					
						<div class="wrap"> 
							<section class="video" ng-video>								
								<!-- Screen Directive -->
								<video  id="video1" vi-screen></video>
								<section class="btns2"><div id="timer"></div></section>															
								<div id="progressbar2" ng-show='progress'class="progress" style="width:100%;height:8px">								
								</div>							
								<!-- Modal -->
								<div id="myModal" class="modal" role="dialog" style="top:10px;">
									<div class="modal-dialog">							
										<div ng-show='qtitle' for id="question_title"></div>								
										<div ng-show='chkbx' name="checkboxes" id="checkboxes" type="checkbox" class="chkbox" ng-model="checkboxes">
										</div>									
										<div ng-show='radiobtn' name="radiobtn" id="radiobtn" type="radio" class= "btnss" ng-model="radiobtn">
										</div>																			
										<center><md-button class='btn btn-info' ng-show='submitbtn' id= "gosubmit" ng-click="submit1()" data-dismiss="modal" >Submit</md-button></center>										
										<center><md-button class='btn btn-info' ng-show='endbtn'  id= "endbtn" ng-click="end()" data-dismiss="modal" >End Test</md-button></center>					
									</div>
								</div>								
								<center><button class='btn btn-info' ng-show='startvideo' id= "go" ng-click="playvideo()">Start Test</button></center>								
								<!-- Feedback Directive -->
								<section vi-feedback class="feedback">									
									<span class="buffering" ng-show="buffering"><!--Buffering...--></span>								
									<section class="loading" ng-show="loading">
										Loading...
									</section>									
									<!-- Duration Directive -->
									<section class="duration">
										{{currentTime | number: 2}}s of {{duration | number: 2}}s
										[{{percentagePlayed | number: 0}}%]
									</section> 									
									<section class="title">Avalia</section> 									
								</section>						
							</section>	
						</div>	
					</div>
				</div>
			</div>
			
			<div id="cirtimer" data-progress="0">
				<span class="quad1"></span>
				<span class="quad2"></span>
				<span class="quad3"></span>
				<span class="quad4"></span>
				<div class='counter'></div>
			</div>
		</section>		
	</body>
	<script>
	</script>
</html>	