
<div  ng-controller="Reportcontroller" layout="column" ng-cloak="">
	<h1><u>ORGANIZATION REPORT</u></h1>
	<md-content layout-padding="">
		<form name="ReportFormName" >
<canvas id="bar"height="10" width="50" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series"chart-colors="colours">
</canvas>
</form>
	</md-content>
	
</div>

<!--<div  ng-controller="Report1controller" layout="column" ng-cloak="">
	
	<md-content layout-padding="">
		<form name="Report1FormName" >
<canvas id="doughnut" class="chart chart-doughnut"
  chart-data="data" chart-labels="labels">
</canvas> 
</form>
	</md-content>
	
</div>-->

<div  ng-controller="Report1controller" layout="column" ng-cloak="">
	<h1><u>	GROUP REPORT</u></h1>
	<md-content layout-padding="">
		<form name="Report1FormName" >
<canvas id="base" height="15" width="50"class="chart-horizontal-bar"
  chart-data="data" chart-labels="labels" chart-series="series"chart-colors="colours" >
</canvas> 
</form>
	</md-content>
	
</div>